/* Note: the following css is input into tailwindcss and will end up in style.css when the site is built */

@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-playfair-display: Playfair Display, serif;
  --font-fira-sans: Fira Sans, sans-serif;
  --font-arca-majora: Arca Majora, sans-serif;
  --color-pwbc-yellow: oklch(0.8502 0.1714 93.13);
  /* Begin attic colors (for an unreleased project) */
  --color-attic-black-500: rgb(70, 60, 51);
  --color-attic-black-600: rgb(60, 52, 53);
  --color-attic-black-700: rgb(47, 41, 41);
  --color-attic-black-800: rgb(34, 32, 37);
  --color-attic-black-900: rgb(19, 18, 23);
  --color-attic-black-950: rgb(11, 12, 7);
  --color-attic-red-50: rgb(242, 214, 173);
  --color-attic-red-100: rgb(214, 177, 131);
  --color-attic-red-200: rgb(216, 150, 100);
  --color-attic-red-300: rgb(231, 132, 70);
  --color-attic-red-400: rgb(192, 115, 51);
  --color-attic-red-500: rgb(161, 105, 80);
  --color-attic-red-600: rgb(150, 90, 60);
  --color-attic-red-700: rgb(131, 77, 53);
  --color-attic-red-800: rgb(130, 60, 39);
  --color-attic-red-900: rgb(92, 46, 45);
  --color-attic-gray-50: rgb(248, 249, 252);
  --color-attic-gray-100: rgb(250, 241, 227);
  --color-attic-gray-200: rgb(240, 212, 195);
  --color-attic-gray-300: rgb(178, 171, 171);
  /* End attic colors */
}

@layer components {
  .drop-cap {
    p:first-child:first-letter {
      @apply float-left text-7xl leading-13 mt-0.5 mr-1 pt-2 px-2 font-bold inline-block;
    }
  }
}

@utility pat1 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/107643ab.jpg')] bg-center bg-size-[120%] text-orange-100;
  }
}
@utility pat2 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/105415ab.jpg')] bg-center bg-size-[150%] text-red-500/95;
  }
}
@utility pat3 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/925232il.jpg')] bg-center bg-size-[110%] text-amber-50;
  }
}
@utility pat4 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/53299pl.jpg')] bg-center bg-size-[110%] text-amber-50;
  }
}
@utility pat5 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/64900pl.jpg')] bg-center bg-size-[150%] text-yellow-500;
  }
}
@utility pat6 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/69939pl.jpg')] bg-center bg-size-[110%] text-amber-50;
  }
}
@utility pat7 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/69959pl.jpg')] bg-center bg-size-[160%] text-gray-800;
    -webkit-text-stroke: 2px white;
  }
}
@utility pat8 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/407036mt-2.jpg')] bg-center bg-size-[110%] text-gray-200/75;
    -webkit-text-stroke: 1px black;
  }
}
@utility pat9 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/709823an.jpg')] bg-center bg-size-[110%] text-gray-900/50;
  }
}
@utility pat10 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/902351il.jpg')] bg-center bg-size-[180%] text-violet-200;
  }
}
@utility pat11 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/912228il.jpg')] bg-center bg-size-[300%] text-blue-950;
  }
}
@utility pat12 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/912334il.jpg')] bg-center bg-size-[150%] text-rose-600;
  }
}
@utility pat13 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/912352il.jpg')] bg-center bg-size-[150%] text-gray-200;
  }
}
@utility pat14 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/925232il.jpg')] bg-center bg-size-[150%] text-violet-950;
  }
}
@utility pat15 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/971124il.jpg')] bg-center bg-contain text-gray-50;
  }
}
@utility pat16 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/981716il.jpg')] bg-center bg-contain text-gray-950/50;
  }
}
@utility pat17 {
  p:first-child::first-letter {
    @apply bg-[url('/img/drop-caps/981719il.jpg')] bg-center bg-contain text-gray-950/50;
  }
}

/*  **************************
    * BEGIN Playfair Display *
    ************************** */
/* VariableFonts */
@supports (font-variation-settings: normal) {
  /* https://fonts.google.com/specimen/Playfair+Display */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400 900; /* Playfair Display goes from 'Regular' to 'Black', i.e. 400 - 900 */
    src: url('/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
    font-display: swap;
  }
}

/*
  Note: discussion on supporting variable and static font-weights in tailwind https://github.com/tailwindlabs/tailwindcss/discussions/3225
  Note: `font-named-instance` is kind of new but it's real https://www.w3.org/TR/css-fonts-4/#font-named-instance
*/

/* Static Fonts */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('/font/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-named-instance: 'SemiBold';
  }
}
/*  **************************
    ** END Playfair Display **
    ************************** */

/*  **************************
    **** BEGIN Fira Sans *****
    ************************** */
@supports (font-variation-settings: normal) {
  /* https://github.com/hellogreg/firava (variable version of Fira Sans) */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100 900; /* Fira Sans goes from 'Thin' to 'Black', i.e. 100 - 900 */
    src: url('/font/Firava/Firava.woff2') format('woff2-variations');
    font-display: swap;
  }
}

@supports not (font-variation-settings: normal) {
  /* https://fonts.google.com/specimen/Fira+Sans */
  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/font/Fira_Sans/FiraSans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
}
/*  **************************
    ***** END Fira Sans ******
    ************************** */

/*  **************************
    ** BEGIN Arca Majora 3 ***
    ************************** */
@font-face {
  font-family: 'Arca Majora';
  src: url('/font/ArcaMajora3/ArcaMajora3-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arca Majora';
  src: url('/font/ArcaMajora3/ArcaMajora3-Heavy.woff2') format('woff2');
  font-weight: black;
  font-style: normal;
  font-display: swap;
}
/*  **************************
    *** END Arca Majora 3 ****
    ************************** */

/*  **************************
    **** Begin Resources *****
    ************************** */
#resources-toc {
  text-align: center;
  /* border-color: black;
  border-width: 1px; */
}

#resources-toc + ul {
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  /* border-color: black;
  border-width: 1px; */
}

#resources-toc + ul + hr {
  border-width: 0.1em;
  border-color: black;
  border-style: dashed;
}
/*  **************************
    ***** End Resources ******
    ************************** */
.prose.prose-pwbc {
  font-family: var(--font-fira-sans);
  text-align: justify;
  h1, h2, h3, h4, h5, h6 {
    @apply lining-nums;
  }
  h1 {
    @apply font-playfair-display;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-fira-sans font-bold;
  }
  p {
    @apply font-fira-sans;
  }
}

@utility prose-pwbc {
  --tw-prose-body: var(--color-gray-600);
  --tw-prose-headings: var(--color-gray-600);
  --tw-prose-lead: var(--color-pink-700);
  --tw-prose-links: var(--color-gray-600);
  --tw-prose-bold: var(--color-gray-800);
  --tw-prose-counters: var(--color-gray-800);
  --tw-prose-bullets: var(--color-gray-700);
  --tw-prose-hr: var(--color-gray-950);
  --tw-prose-quotes: var(--color-gray-600);
  --tw-prose-quote-borders: var(--color-gray-600);
  --tw-prose-captions: var(--color-pink-700);
  --tw-prose-code: var(--color-gray-400);
  --tw-prose-pre-code: var(--color-gray-100);
  --tw-prose-pre-bg: var(--color-gray-950);
  --tw-prose-th-borders: var(--color-gray-700);
  --tw-prose-td-borders: var(--color-gray-400);

  /*  TODO
  --tw-prose-invert-body: var(--color-pink-200);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-pink-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-pink-400);
  --tw-prose-invert-bullets: var(--color-pink-600);
  --tw-prose-invert-hr: var(--color-pink-700);
  --tw-prose-invert-quotes: var(--color-pink-100);
  --tw-prose-invert-quote-borders: var(--color-pink-700);
  --tw-prose-invert-captions: var(--color-pink-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-pink-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-pink-600);
  --tw-prose-invert-td-borders: var(--color-pink-700);
   */
}