// Note: the following css is input into tailwindcss and will end up in style.css when the site is built

@tailwind base;
@tailwind components;
@tailwind utilities;

// https://fonts.google.com/specimen/Playfair+Display
@font-face {
  font-family: 'Playfair Display';
  src: url('/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/font/Fira_Sans/FiraSans-Regular.ttf');
}