{% extends "taxonomy_list.html" %}

{% block header %}
{% set forms = load_data(path="data/vocab/forms.toml", format="toml") %}
{{ super() }}
<p class="mt-6 text-xl font-fira-sans font-extralight">
  Taxonomical category:
  <em class="font-light">
    {{ forms["description"] }}
  </em>
</p>
{% endblock header %}

{% block references %}
<h2>References</h2>
<ul>
  {% if forms.wikidata %}
  <li><a href="{{ forms.wikidata }}">wikidata</a></li>
  {% endif %}
  {% if forms.wikipedia %}
  <li><a href="{{ forms.wikipedia }}">wikipedia</a></li>
  {% endif %}
</ul>
{% endblock references %}