{% extends "r3ply/templates/taxonomy_list.html" %}
{% import "r3ply.html" as r3ply %}

{# Comments that should be rendered are setup over here, allowing for the rendering itself to be overriden#}
{% block setup %}
  {% set comments = [] %}
  {% for term in terms %}
  {% set_global comments = comments | concat(with=term.pages) %}
  {% endfor %}
  {% set comments = comments | unique(attribute="slug") %}
{% endblock setup %}

{# To change how comments are rendered, change this block #}
{% block render %}
  {{ r3ply::render_comments_sorted_by_activity(comments=comments) }}
{% endblock render %}