{% extends "r3ply/templates/taxonomy_single.html" %}
{% import "r3ply.html" as r3ply %}

{# Comments that should be rendered are setup over here, allowing for the rendering itself to be overriden#}
{% block setup %}
  {% set parent = term.pages | first %}
  {% set subject_comments = get_taxonomy_term(kind="comment-subjects", term=parent.taxonomies["comment-subjects"][0])
    | get(key="pages") | group_by(attribute="slug") %}
  {% set descendant_ids = r3ply::get_descendants(parent=parent) | split(pat=",") %}
  {% set comments = [] %}
  {# Get pages of descendants #}
  {% for d in descendant_ids %}
    {% set_global comments = comments | concat(with=subject_comments[d]) %}
  {% endfor %}
{% endblock setup %}

{# To change how comments are rendered, change this block #}
{% block render %}
  {{ r3ply::render_comments_sorted_by_activity(comments=comments, starting_from_id=parent.slug) }}
{% endblock render %}