{% extends "r3ply/templates/taxonomy_list.html" %}
{% import "r3ply.html" as r3ply %}

{# Comments that should be rendered are setup over here, allowing for the rendering itself to be overriden#}
{% block setup %}
{% endblock setup %}

{# To change how comments are rendered, change this block #}
{% block render %}
  {% block table %}
  <table class="{% block table_classes %}{% endblock table_classes %}">
    {% block thead %}
    <thead class="{% block thead_classes %}{% endblock thead_classes %}">
      {% block thead_row %}
      <tr class="{% block heading_row_classes %}{% endblock heading_row_classes %}">
        {% block author_heading %}<th>Author</th>{% endblock author_heading %}
        {% block alias_heading %}<th>Alias</th>{% endblock alias_heading %}
        {% block comment_count_heading %}<th># of Comments</th>{% endblock comment_count_heading %}
        {% block latest_comment_heading %}<th>Last Comment</th>{% endblock latest_comment_heading %}
        {% block latest_comment_id_heading %}<th>Comment ID</th>{% endblock latest_comment_id_heading %}
        {% block date_heading %}<th>Date</th>{% endblock date_heading %}
      </tr>
      {% endblock thead_row %}
    </thead>
    {% endblock thead %}
    {% block tbody %}
    <tbody class="{% block tbody_classes %}{% endblock tbody_classes %}">
      {% for t in terms %}
      {% set latest_comment = t.pages | sort(attribute="date") | reverse | first %}
      <tr>
        <td><span>@</span><a href="/commenters/{{ t.name }}">{{ t.name }}</span></td>
        <td>TODO</td>
        <td>{{ t.pages | length }}</td>
        <td>{{ latest_comment.content | safe }}</td>
        <td><span>#</span><a href="/comments/{{ latest_comment.slug }}">{{ latest_comment.slug }}</a></td>
        <td>
          <time datetime="{{ latest_comment.date }}">{{ latest_comment.date | date(format="%Y-%m-%d %H:%M") }}</time>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endblock tbody %}
  </table>
  {% endblock table %}
{% endblock render %}