{% import "r3ply.html" as r3ply %}
{% import "macro/util.html" as util %}
{% extends "base.html" %}

{% block setup %}
{% set alias = r3ply::alias(user_id=term.name, aliases=aliases) %}
{% set comments = term.pages %}
{% set dkim = comments | filter(attribute="extra.email.dkim", value=true) %}
{% set spf = comments | filter(attribute="extra.email.spf", value=true) %}
{% set dmarc = comments | filter(attribute="extra.email.dmarc", value=true) %}
{% set all_verified = dkim | length == comments | length and spf | length == comments | length and dmarc | length == comments | length %}
{% endblock setup %}

{% block title %}
<title>
{% if alias != term.name and all_verified %}
  Comments by 🫆{{ alias }} | PWBC
{% else %}
  Comments by @{{ term.name }} | PWBC
{% endif %}
</title>
{% endblock title %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/commenters/{{ term.name }}/atom.xml">
{% endblock extra_head %}

{% block body_styles %}
{{ section.extra.bg_color | default(value="bg-orange-50") }}
{% endblock body_styles %}

{% block banner %}
{{ util::nav(href="/", text="Home") }}
{{ util::nav(href="/commenters/", text="Commenters") }}
{{ util::nav(href="/aliases/", text="Aliases") }}
{{ util::search() }}
{% endblock banner %}

{% block main %}
<article class="max-w-prose mx-auto my-18 px-4 md:px-0 text-lg prose prose-lg
  prose-headings:font-fira-sans prose-pwbc">
  <h1>
    <span>Comments by</span>
    {% if alias != term.name and all_verified %}
    <span>🫆</span><span class="text-pink-400 font-bold">{{ alias }}</span>
    {% else %}
    <span class="text-gray-600">@</span><span class="text-pink-400 font-bold">{{ term.name }}</span>
    {% endif %}
  </h1>
</article>
{% endblock main %}
{% block comments %}
<section id="comments" class="max-w-full py-8 px-2 prose prose-lg prose-pwbc" data-pagefind-body>
  <div class="max-w-prose mx-auto">
  {{ r3ply::render_comments_sorted_by_activity(comments=comments, aliases=aliases) }}
  </div>
</section>
{% endblock comments %}