{% import "r3ply.html" as r3ply %}
{% import "macro/util.html" as util %}
{% extends "base.html" %}

{% block setup %}
{% set comments = section.pages %}
{% endblock setup %}

{% block body_styles %}
{{ section.extra.bg_color | default(value="bg-orange-50") }}
{% endblock body_styles %}

{% block banner %}
{{ util::nav(href="/", text="Home") }}
{{ util::search() }}
{% endblock banner %}

{% block main %}
<article class="max-w-prose mx-auto my-18 px-4 md:px-0 text-lg prose prose-lg
  prose-headings:font-fira-sans prose-pwbc">
  <h1 data-pagefind-meta="title:All Comments | PWBC Comments">All Comments</h1>
  {{ section.content | safe }}
</article>
{% endblock main %}

{% block comments %}
<section id="comments" class="max-w-full overflow-x-scroll px-1 prose prose-lg prose-pwbc prose-th:whitespace-nowrap">
  <table>
    <thead>
      <tr>
        {# TODO: sort out having multilingual taxonomies for comments #}
        <th>Comment Preview</th>
        <th class="min-w-36">Date</th>
        <th>Page</th>
        <th>Author</th>
        <th class="text-center">ID</th>
        <th class="text-center">Verified</th>
        <th>Replying To</th>
        <th class="flex justify-center items-center gap-1">
          RSS
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="inline align-text-bottom text-rose-300"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for c in comments | sort(attribute="date") | reverse %}
      {% set context_url = c.extra.comment.document ~ "#" ~ c.slug %}
      <tr>
        {# Comment Preview #}
        <td class="w-72 md:w-96">
          <em class="line-clamp-3 font-serif">
            <span class="text-indigo-700">“</span><a class="font-light text-orange-800 no-underline" href="/{{ context_url }}">
              {{ c.content | striptags | trim }}
            </a><span class="text-indigo-700">”</span>
          </em>
        </td>
        {# Date #}
        <td class="font-sans text-lg min-w-60">
          <a class="no-underline hover:underline" href="/{{ c.extra.comment.document }}/#{{ c.slug }}">
            <time datetime="{{ c.date }}" class="flex items-center gap-1">
              <span class="text-emerald-700 font-medium oldstyle-nums">{{ c.date | date(format="%Y-%m-%d") }}</span>
              <span class="ml-1 text-teal-600 font-light font-serif">{{ c.date | date(format="%H:%M") }}</span>
              <span class="ml-0.5 text-lime-800 italic font-thin">{{ c.date | date(format="%Z") }}</span>
            </time>
          </a>
        </td>
        {# Page #}
        <td class="min-w-48 max-w-80">
          {% set url = get_url(path=c.extra.comment.document, trailing_slash=true) %}
          <a class="line-clamp-2 font-extralight text-indigo-500" href="{{ url }}">/{{ c.extra.comment.document }}/</a>
        </td>
        {# Author #}
        <td class="prose-a:font-bold prose-a:font-serif prose-a:text-pink-400 whitespace-nowrap">
          {% set alias = r3ply::alias(user_id=c.taxonomies.commenters[0], aliases=aliases) %}
          {% if alias != c.taxonomies.commenters[0]
              and c.extra.email.dkim
              and c.extra.email.spf
              and c.extra.email.dmarc %}
          <span>🫆</span><a href="/commenters/{{ c.taxonomies.commenters[0] }}/">{{ alias }}</a>
          {% else %}
          <span class="font-extralight text-gray-500">@</span><a href="/commenters/{{ c.taxonomies.commenters[0] }}/">{{ c.taxonomies.commenters[0] }}</a>
          {% endif %}
        </td>
        {# Comment ID #}
        <td class="text-center">
          <span class="font-light text-gray-400">#</span><a class="font-mono text-blue-400" href="/comments/{{ c.slug }}">{{ c.slug }}</a>
        </td>
        {# Verified #}
        <td class="text-center">
          {% if c.extra.email.dkim and c.extra.email.dmarc and c.extra.email.spf %}
            <span class="text-slate-600">✓ </span>
          {% else %}
            <span class="text-slate-300">? </span>
          {% endif %}
        </td>
        {# Replying To #}
        <td class="min-w-48 max-w-80">
          <span class="line-clamp-2 prose-a:font-extralight">
          {# Comment is in response to just the document #}
          {% if c.extra.comment.in_reply_to == false %}
            <a class="line-clamp-2 font-extralight text-indigo-500" href="/{{ c.extra.comment.document }}/">/{{ c.extra.comment.document }}/</a>
          {# Comment is in response to a text fragment #}
          {% elif c.extra.comment.in_reply_to is starting_with("#:~:text=") %}
          {% set text = c.extra.comment.in_reply_to | split(pat="") | slice(start=10) | join(sep="") %}
            <a href="/{{ c.extra.comment.document }}{{ c.extra.comment.in_reply_to }}" class="text-red-500">
              <em>“{{ r3ply::urldecode(encoded=text) | truncate(length=15) | trim }}”</em>
            </a>
          {# Comment is in response to another comment #}
          {% else %}
            {% set in_reply_to = c.extra.comment.in_reply_to | split(pat="") | slice(start=2) | join(sep="") %}
            <span class="font-light text-gray-400">#</span><a class="font-mono text-blue-400" href="{{ c.extra.comment.document }}/comments/{{ in_reply_to }}">{{ in_reply_to }}</a>
          {% endif %}
          </span>
        </td>
        {# RSS #}
        <td class="text-center whitespace-nowrap">
          <a class="text-gray-400" href="/replies/{{ c.slug }}/atom.xml">Replies</a> | <a class="text-gray-500" href="/threads/{{ c.slug }}/atom.xml">Thread</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock comments %}
