{% extends "root.html" %}
{% block body %}
  <main>
    <article>
      <header class="overflow-hidden md:flex md:h-screen md:items-center md:justify-center md:p-12 md:align-middle">
        <img
          class="mb-2 h-auto max-h-full max-w-full md:mb-8"
          src="/illo/sophocles-nested.svg"
          alt="A bust of sophpocles, repeating to infinty in different bright colors"
        />
        {# Note font-weights: https://tailwindcss.com/docs/font-weight #}
        <div id="heading" class="px-2 text-gray-900">
          <h1 class="font-playfair-display text-left text-7xl font-semibold md:text-8xl xl:text-9xl">The Public Works Book Club</h1>
          {# Note for semantic html and screen-readers, use this ARIA role for
      subtitle-y stuff https://www.w3.org/TR/dpub-aria-1.0/#doc-subtitle #}
          <p role="doc-subtitle" class="font-fira-sans my-2 text-right text-lg font-extralight md:text-2xl">Since 35,000 BCE</p>
        </div>
      </header>
      <div
        id="content"
        class="prose prose-ul:marker:text-black prose-blue prose-landing font-fira-sans md:prose-lg mx-auto mb-16 px-2 font-normal"
      >
        {{ section.extra.sections.intro | markdown | safe }}
        {{ section.extra.sections.readings | markdown | safe }}
        {{ works::tablular_listing_of_works(section=get_section(path="works/_index.md")) }}
        {{ section.extra.sections.links_to_resources | markdown | safe }}
        {{ section.extra.sections.contact | markdown | safe }}
        {# {{ section.content | safe }} #}
      </div>
    </article>
  </main>
{% endblock body %}
