<!doctype html>
<html lang="{{ page.lang }}">
  {% block head %}
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% block title %}
        {% block document_title %}
          {% if page.title %}
            <title>PWBC: {{ page.title }}</title>
          {% else %}
            <title>{{ config.title }}</title>
          {% endif %}
        {% endblock document_title %}
        {% block og_title %}
          {# <= 35 chars recommended #}
          {% if page.title %}
            <meta property="og:title" content="PWBC: {{ page.title }}" />
          {% else %}
            <meta property="og:title" content="{{ config.title }}" />
          {% endif %}
        {% endblock og_title %}
      {% endblock title %}
      {% block description %}
        {# <= 155 characters recommended #}
        {% block document_description %}
          {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
          {% else %}
            <meta name="description" content="{{ config.description }}" />
          {% endif %}
        {% endblock document_description %}
        {# <= 65 characters recommended #}
        {% block og_description %}
          {% if page.description %}
            <meta property="og:description" content="{{ page.description }}" />
          {% else %}
            <meta property="og:description" content="{{ config.description }}" />
          {% endif %}
        {% endblock og_description %}
      {% endblock description %}
      {% block styles %}<link rel="stylesheet" href="/style.css" />{% endblock styles %}
      {% block extra_styles %}
      {% endblock extra_styles %}
      {# Note: https://realfavicongenerator.net #}
      {% block favicon %}
        {% block favicon_apple %}
          <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        {% endblock favicon_apple %}
        {% block favicon_32x32 %}
          <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        {% endblock favicon_32x32 %}
        {% block favicon_16x16 %}
          <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        {% endblock favicon_16x16 %}
      {% endblock favicon %}
      {% block mask_icon %}
        {# Note: I don't really like safari pinned tab style #}
        {# <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FBBD5E" /> #}
      {% endblock mask_icon %}
      {% block ms_app_tile_color %}
        <meta name="msapplication-TileColor" content="#2d89ef" />
      {% endblock ms_app_tile_color %}
      {% block theme_color %}
        <meta name="theme-color" content="{{ page.extra.theme_color | default(value='#fff') }}" />
      {% endblock theme_color %}
      {% block manifest %}<link rel="manifest" href="/site.webmanifest" />{% endblock manifest %}
      {# end favicon #}
      {# Note: List of the global types available: http://ogp.me/#types #}
      {% block og_type %}<meta property="og:type" content="website" />{% endblock og_type %}
      {# Note: Alternate's like `<meta property="og:locale:alternate" content="es_ES" />` #}
      {% block og_locale %}<meta property="og:locale" content="en_US" />{% endblock og_locale %}
      {% block og_url %}<meta property="og:url" content="{{ current_url }}" />{% endblock og_url %}
      {# jpg or png <= 300KB and w x h of at least 300px x 200px #}
      {% block og_image %}
        {% if page.extra.og_image.src %}
          <meta property="og:image" content="{{ page.extra.og_image.src }}" />
          <meta property="og:image:width" content="{{ page.extra.og_image.w }}" />
          <meta property="og:image:height" content="{{ page.extra.og_image.h }}" />
        {% else %}
          <meta property="og:image" content="/img/social-preview-banner.png" />
          <meta property="og:image:width" content="600" />
          <meta property="og:image:height" content="315" />
        {% endif %}
      {% endblock og_image %}
    </head>
  {% endblock head %}
  {% block body %}
    {% set body_bg_color = page.extra.bg_color | default(value='bg-white') %}
    <body class="{{ body_bg_color }}">
      {% block main %}
        <main>
          {% block article %}
            <article
              class="prose prose-ul:marker:text-black prose-blue md:prose-lg prose-img:rounded-xl prose-img:border-2 prose-img:border-dashed prose-img:border-green-500 md:prose-img:border-[5px] mx-auto md:mt-16"
            >
              {% block article_heading %}
                <div id="heading" class="not-prose px-2 text-gray-900">
                  {% block article_heading_h1 %}
                    <h1>
                      {% block article_heading_site_title %}
                        <a class="font-playfair-display block text-left text-7xl font-semibold md:text-9xl" href="/">Public Works</a>
                      {% endblock article_heading_site_title %}
                      {% block article_heading_article_title %}
                        <a class="block text-right text-5xl font-thin md:text-7xl" href="{{ page.permalink }}">{{ page.title }}</a>
                      {% endblock article_heading_article_title %}
                    </h1>
                  {% endblock article_heading_h1 %}
                </div>
              {% endblock article_heading %}
              {% block article_heading_divider %}
                <hr class="border-[1.5px] border-black" />
              {% endblock article_heading_divider %}
              {% block article_content %}
                <div id="content" class="font-fira-sans my-16 px-2 font-normal">{{ page.content | safe }}</div>
              {% endblock article_content %}
            </article>
          {% endblock article %}
        </main>
      {% endblock main %}
      {% block footer %}
        <footer class="flex pb-14">
          <a class="mx-auto text-xl text-pink-500 underline" href="/">Back to main</a>
        </footer>
      {% endblock footer %}
    </body>
  {% endblock body %}
</html>
