{% extends "base.html" %}
{% import "macro/util.html" as util %}

{% block body_styles %}{{ page.extra.bg_color | default(value="bg-yellow-100") }}{% endblock body_styles %}
{% block banner %}
{{ util::back(text="Home") }}
{% endblock banner %}
{% block main %}
<article class="prose prose-pwbc md:prose-lg prose-img:rounded-xl prose-img:border-2 prose-img:border-dashed prose-img:border-green-500 md:prose-img:border-[5px] mx-auto md:my-16">
  <header class="not-prose px-2 text-gray-900">
    <a class="font-playfair-display block text-left text-7xl font-semibold md:text-9xl text-gray-800" href="/">Public Works</a>
    <h1 class="text-right text-gray-700">
      <a class="font-fira-sans text-5xl font-thin md:text-7xl" href="{{ page.permalink }}">{{ page.title }}</a>
    </h1>
  </header>
  <hr class="border-[1.5px] border-black" />
  <div id="content" class="font-fira-sans my-16 px-2 font-normal">{{ page.content | safe }}</div>
</article>
{% endblock main %}
{% block footer %}
<footer class="flex pb-14">
  <a class="mx-auto text-xl text-pink-500 underline" href="/">Back to main</a>
</footer>
{% endblock footer %}
