{% extends "base.html" %}
{% import "macro/util.html" as util %}
{% import "macro/works.html" as works %}

{% block body_styles %}bg-orange-50{% endblock body_styles %}

{% block title %}
  <title>{{ taxonomy.name | capitalize }}: {{ term.name }} | PWBC</title>
  <meta property="og:title" content="{{ taxonomy.name | capitalize }}: {{ term.name }} | PWBC" />
  <meta name="twitter:title" content="{{ taxonomy.name | capitalize }}: {{ term.name }} | PWBC" />
{% endblock title %}

{% block banner %}
{{ util::nav(href="/", text="Home") }}
{{ util::nav(href="/works", text="Readings") }}
{{ util::nav(href="/taxonomy", text="Taxon.") }}
{{ util::nav(href="../", text="../" ~ taxonomy.name | title) }}
{% endblock banner %}

{% block main %}
{% set toml = load_data(path="data/vocab/" ~ taxonomy.name ~ ".toml", format="toml") %}
{% set vocab = toml[term.name] | default(value=false) %}
<section class="prose prose-lg prose-pwbc mx-auto my-18">
  <div class="px-4 md:px-0">
    <header class="not-prose">
      {% block header %}
      <h1 class="font-playfair-display text-5xl font-extrabold text-gray-700 text-left">
        <a class="hover:underline" href="{{ current_url }}">{{ term.name }}</a>
      </h1>
      {% endblock header %}
    </header>
    {% block divider %}
    <hr>
    {% endblock divider %}
  </div>
  {% block paratext %}{% endblock paratext %}
  {% block works_with_term %}
  <h2 class="px-4 md:px-0">Works</h2>
  {{ works::tablular_listing_of_works(works=term.pages) }}
  {% endblock works_with_term %}
  {% block references %}
  {% if vocab.synonyms %}
  <h2>Synonyms</h2>
  <p class="font-light italic">
    {{ vocab.synonyms | join(sep=", ") }}
  </p>
  {% endif %}
  {% if vocab and (vocab.wikidata or vocab.wikipedia or vocab.references) %}
  <h2>References</h2>
  <ul>
    {% if vocab and vocab.wikidata %}
    <li>
      <a href="{{ vocab.wikidata }}">wikidata</a>
    </li>
    {% endif %}
    {% if vocab and vocab.wikipedia %}
    <li>
      <a href="{{ vocab.wikipedia }}">wikipedia</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  {% endblock references %}
</section>
{% endblock main %}