{% extends "base.html" %}
{% import "macro/util.html" as util %}

{% block body_styles %}{{ page.extra.bg_color | default(value="bg-orange-50") }}{% endblock body_styles %}
{% block banner %}
{{ util::nav(href="/", text="Home") }}
{{ util::nav(href="/works", text="Readings") }}
{% endblock banner %}

{% block main %}
<section class="prose prose-lg prose-pwbc mx-auto my-18 px-4 md:px-0">
  <header class="not-prose">
    {% block header %}
    <h1 class="font-playfair-display text-5xl font-medium text-gray-700">
      <a class="hover:underline" href="{{ current_url }}">Taxonomical Categories</a>
    </h1>
    <p class="mt-6 text-xl font-fira-sans font-light">
      Criteria of classification within PWBC
    </p>
    {% endblock header %}
  </header>
  <hr>
  {{ page.content | safe }}
  <table>
    <thead>
      <tr>
        <th>Criterion</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for taxonomy in config.taxonomies %}
      {% set toml = load_data(path="data/vocab/" ~ taxonomy.name ~ ".toml", format="toml", required=false) %}
      <tr>
        <td class="font-serif italic"><a href="/{{ taxonomy.slug }}">{{ taxonomy.name }}</a></td>
        <td>{{ toml.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock main %}