{% import "r3ply.html" as r3ply %}
{% import "macro/util.html" as util %}
{% extends "base.html" %}

{% block setup %}
{% endblock setup %}

{% block body_styles %}
{{ section.extra.bg_color | default(value="bg-orange-50") }}
{% endblock body_styles %}

{% block banner %}
{{ util::nav(href="/", text="Home") }}
{{ util::nav(href="/aliases/", text="Aliases") }}
{% endblock banner %}

{% block main %}
<article class="max-w-prose mx-auto my-18 px-4 md:px-0 text-lg prose prose-lg
  prose-headings:font-fira-sans prose-pwbc">
  <h1>Comments by Page</h1>
  <p>Pages are sorted by comment count</p>
</article>
{% endblock main %}

{% block comments %}
<section id="comments" class="max-w-4xl w-full min-w-0 mx-auto px-1 md:px-0 prose prose-lg prose-pwbc prose-th:whitespace-nowrap">
  <div class="overflow-x-auto">
    <table>
      <thead>
        <tr>
          {# TODO: sort out having multilingual taxonomies for comments #}
          <th>Subject</th>
          <th class="min-w-36">Most Recent Comment</th>
          <th># of Comments</th>
          <th class="flex justify-center items-center gap-1">
            RSS
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="inline align-text-bottom text-rose-300"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
              />
            </svg>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for subject in terms | sort(attribute="page_count") | reverse %}
        <tr>
          {# Subject #}
          <td class="min-w-54">
              <a class="line-clamp-2 font-extralight text-indigo-500" href="/{{ subject.name }}/">{{ subject.name }}</a>
          </td>
          {# Date #}
          <td class="font-sans text-lg not-prose">
            {% set most_recent_page = subject.pages | sort(attribute="date") | reverse | first %}
            <a href="/{{ subject.name }}/#{{ most_recent_page.slug }}" class="no-underline">
              <time datetime="{{ most_recent_page.date }}" class="flex items-center gap-1">
                <span class="text-emerald-700 font-medium oldstyle-nums">{{ most_recent_page.date | date(format="%Y-%m-%d") }}</span>
                <span class="ml-1 text-teal-600 font-light font-serif">{{ most_recent_page.date | date(format="%H:%M") }}</span>
                <span class="ml-0.5 text-lime-800 italic font-thin">{{ most_recent_page.date | date(format="%Z") }}</span>
              </time>
            </a>
          </td>
          {# Num. of Comments #}
          <td class="text-center">
            <a class="text-mauve-600" href="/{{ subject.name }}/#comments">{{ subject.pages | length }}</a>
          </td>
          {# RSS #}
          <td class="text-center whitespace-nowrap">
            <a class="text-gray-500" href="{{ subject.path }}atom.xml">Feed</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock comments %}
