{# prettier-ignore-start #}
{% extends "page.html" %}
{% import "macro/json-ld.html" as json_ld %}

{% block extra_head %}
  <script type="application/ld+json">
  {%- set json = json_ld::abstract_text(doc=page) -%}
  {# For debugging #}
  {% if doc.extra.order in [] %}
  {{ throw(message=json) }}
  {% endif %}
  {%- set json = load_data(literal=json, format="json") -%}
  {{ json | json_encode | safe }}
  </script>
{% endblock extra_head %}
{% block article_heading %}
  <header id="heading">
    <h1 class="font-playfair-display">{{ page.taxonomies.titles[0] }}</h1>
    <p>by <em>{{ page.taxonomies.authors | join(sep=", ") }}</em></p>
  </header>
{% endblock article_heading %}
{% block article_content %}
    <section>
      <h2>Abstract</h2>
      {{ page.extra.abstract | safe }}
    </section>
    <section>
      <table>
        <caption>Bibliographic Data</caption>
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Authorship</td>
            <td>
              {{ page.taxonomies.authors | join(sep=", ")}}
            </td>
          </tr>
          <tr>
            <td>Literary form</td>
            <td>{{ page.taxonomies.forms | join(sep=", ")}}</td>
          </tr>
          <tr>
            <td>Genres</td>
            <td>{{ page.taxonomies.genres | join(sep=", ")}}</td>
          </tr>
          <tr>
            <td>Subjects</td>
            <td>{{ page.taxonomies.subjects | join(sep=", ")}}</td>
          </tr>
          <tr>
            <td>Periods</td>
            <td>{{ page.taxonomies.periods | join(sep=", ")}}</td>
          </tr>
          <tr>
            <td>Languages</td>
            <td>{{ page.taxonomies.languages | join(sep=", ")}}</td>
          </tr>
          <tr>
            <td>JSON-LD</td>
            <td><a href="{{ page.permalink }}">single</a> | <a href="/works/all.jsonld">all</a></td>
          </tr>
          <tr>
            <td>same as</td>
            <td>
              {% if page.extra.wikidata %}
              <a href="{{ page.extra.wikidata }}">wikidata</a>
              {% endif %}
              {% if page.extra.wikipedia %}
              <a href="{{ page.extra.wikipedia }}">wikipedia</a>
              {% endif %}
            </td>
          </tr>
          {% if page.taxonomies.references %}
          <tr>
            <td>References</td>
            <td>{{ page.taxonomies.references | join(sep=", ")}}</td>
          </tr>
          {% endif %}
          {% if page.taxonomies.tags %}
          <tr>
            <td>Tags</td>
            <td>{{ page.taxonomies.genres | join(sep=", ")}}</td>
          </tr>
          {% endif %}
          {% if page.taxonomies.index %}
          <tr>
            <td>Index</td>
            <td>{{ page.taxonomies.index | join(sep=", ")}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </section>
    <section>
      {{ page.content | safe }}
    </section>
  {# <div id="content" class="font-fira-sans my-16 px-2 font-normal">{{ page.content | safe }}</div> #}
{% endblock article_content %}
{# prettier-ignore-end #}
