{% macro note(references, citation_key, locator, remark) %}
  {% set bibs = references.bibliographies | group_by(attribute="citation_key") %}
  {% set reference = bibs[citation_key] | first %}
  {# biblatex will keep things that should be rendered literally in extra curl braces #}
  {% set authors = reference.tags.author | regex_replace(pattern="\{(.*?)\}", rep="$1") | split(pat=" and ") %}
  {% set first_author = authors | first | trim %}
  {% set title = reference.tags.title %}
  {% if remark %}<span class="remark font-fira-sans font-extralight">{{ remark }} –</span>{% endif %}
  <span class='author font-serif after:content-[","]'>{{ first_author }}</span>
  <span class="title font-sans font-light"><em>"{{ title }}"</em></span>
  {% if locator %}<span class="locator font-medium">({{ locator }})</span>{% endif %}
{% endmacro note %}
