{% macro list_taxonomy_terms(work, taxonomy, sep=", ", add="", override=false) %}
  {% for t in work.taxonomies[taxonomy] %}
    <a
      class="{% if override %}{{ override }}{% else %}{% endif %} {{ add }}"
      href="{{ get_taxonomy_url(kind=taxonomy, name=t, lang=page.lang) }}"
      >{{ t }}</a
    >{%- if not loop.last %}<span>{{ sep }}</span>{% endif %}
  {% endfor %}
{% endmacro %}

{% macro tablular_listing_of_works(section) %}
  {% set works = section.pages | sort(attribute="extra.order") %}
  <table class="block w-max max-w-full overflow-x-auto whitespace-nowrap">
    <caption class="mt-2 caption-bottom text-left font-serif italic">
      <span>*</span>
      = selections of work
    </caption>
    <thead>
      <tr>
        <th>order</th>
        <th>title</th>
        <th>author</th>
        <th>period</th>
        <th>year</th>
        <th>arc</th>
      </tr>
    </thead>
    <tbody>
      {% for w in works %}
        <tr>
          <td class="text-center">{{ w.extra.order }}</td>
          <td>
            <a href="{{ w.permalink }}">{{ w.taxonomies.titles | first }}</a>
          </td>
          <td>
            {% set author = get_taxonomy_term(kind="authors", term=w.taxonomies.authors | first) %}
            <a href="{{ author.permalink }}">{{ author.name }}</a>
            {% if w.taxonomies.authors | length > 1 %}et al.{% endif %}
          </td>
          <td>
            {% set period = get_taxonomy_term(kind="periods", term=w.taxonomies.periods | last) %}
            <a href="{{ period.permalink }}">{{ period.name }}</a>
          </td>
          <td>
            {% set year = get_taxonomy_term(kind="years", term=w.taxonomies.years | first) %}
            <a href="{{ year.permalink }}">{{ year.name }}</a>
          </td>
          <td>
            {% set arc = get_taxonomy_term(kind="arcs", term=w.taxonomies.arcs | first) %}
            <a href="{{ arc.permalink }}">{{ arc.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
